/* Css Reset */
* {
  margin: 0;
  padding: 0fr;
}

.box {
  background: #f4f4f4;
  border: 2px #777 solid;
  width: 500px;
  /* padding all side */
  padding: 20px;
  /* padding per side */
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  /* Padding  top right bottom left */
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  /* margin all side */
  margin: 20px;
}
.box p {
  margin: 0;
  padding: 0;
}
