* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --light-font: 14px;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --text-light: #fff;
  --text-primary: #f7c08a;
  --text-dark: #2a2a2a;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background: #f9f9f8;
}
a {
  color: #fff;
  text-decoration: none;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

li {
  list-style: none;
}
/* Utility Classes */

.text-primary {
  color: var(--text-primary);
}
.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: ;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #f7c08a;
  background: #232323;
}

.btn-light {
  color: #333;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
}
.btn-light:hover {
  color: #fff;
  background: #f7c08a;
}
.bg-primary {
  background: #f7c08a;
}
/* End Utility Classes */

/* Navbar */
#navbar {
  display: flex;
  max-height: 90px;
  width: 100%;
  background: #333;
  color: #fff;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar a {
  color: white;
}
#navbar h1 {
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul li {
  display: flex;
  justify-content: cnter;
}
#navbar ul li a {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.currentPage {
  background: #444;
  color: #f7c08a;
}

#showcase {
  background: url("../assets/showcase.jpg") no-repeat center center/cover;
  height: 80vh;
  background-attachment: fixed;
}
#showcase .container {
  display: flex;
  flex-direction: column;
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding-top: 20vh;
  align-items: center;
}
#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}
#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
#showcase .showcase-content a {
  padding-bottom: 20px;
  line-height: 1.7em;
  width: fit-content;
  border-radius: 8px;
}

.intro {
  display: flex;
  max-height: 100vh;
  min-height: 250px;
  height: auto;
  width: 50vh;
  flex-direction: column;
  color: #fff;
}

.l-intro {
  order: 2;
  width: 100vw;
  height: 50rem;
  background: url("../assets/photo-1.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.r-intro {
  order: 1;
  width: 100vw;
  height: 100%;
  background: #333;
  text-align: center;
}

.r-intro h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
.r-intro p {
  padding: 10px;
  line-height: 1.7em;
}
.services {
  display: flex;
  width: 100vw;
  min-height: 250px;
  flex-direction: column;
}
.box {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  padding: 20px;
  text-align: center;

  height: auto;
  margin-bottom: 20px;
}
.box i {
  margin-bottom: 10px;
}

/* about page */
#about {
  height: 50vh;
}
.title {
  font-size: 2.4rem;
  line-height: 1.2;
  margin: 10px 0px;
}
.hero {
  display: flex;
  height: 50vh;
  overflow: hidden;
}
.hero .rich-text {
  padding: 20px;
  width: 50vw;
}

.hero .showcase-img {
  width: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .showcase-img img {
  max-height: 350px;
  object-fit: cover;
  object-position: center center;
  transition: transform 4s ease;
  border-radius: 50% 30%;
}
#testimonial {
  width: 100vw;
  background: url("../assets/photo-1.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
#testimonial ul {
  display: flex;
  justify-content: cneter;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#testimonial ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  max-width: 80vh;
  background: var(--text-primary);
  margin: 20px;
}
#testimonial ul li img {
  height: 120px;
  border-radius: 50%;
  margin: 0 20px;
}

/* contact us */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 90vw;
  height: 60vh;
}
form label {
  display: inline-block;
}

form input {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #333;
  width: 100%;
}
.contact-us {
  overflow: hidden;
  background: #2a2a2a;
  color: white;
  display: flex;
  margin-top: 20px;
}
form textarea {
  display: inline-block;
  padding: 12px 20px;
  width: 100%;
  margin-bottom: 30px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  position: sticky;
  overflow: hidden;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background: #333;
  color: #fff;
  padding-top: 10px;
}
@media (min-width: 768.8px) {
  .services {
    flex-direction: row;
  }
  .box {
    width: 33vw;
  }
  .intro {
    flex-direction: row;
    width: 100vw;
  }
  .l-intro {
    order: 1;
  }
  .r-intro,
  .l-intro {
    width: 50vw;
    height: 550px;
  }
  #testimonial ul li {
    flex-direction: row;
  }
  form textarea {
    width: 50%;
  }
}
