@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* universal selector */
* {
  /* border: 3px solid red; */
  margin: 0;
  padding: 0;
  /* box-sizing: content-box; */
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
}

.box {
  margin: 20px;
  padding: 200px;
  color: white;
  max-width: 500px;
  background-color: coral;
}
